<html>
    <head>
        {{>head}}
    </head>
    <body>
    
    {{>header}}
    
        <article>
            <h2>My name is <b>Serge</b></h2>
            <img src="img/IMGP5852.jpg" alt="">
            <h2>Created by {{ name }}</h2>
        </article>
    
    {{>footer}}

    
    
    </body>
</html>