<html>

<head>
    {{>head}}
</head>

<body>

    {{>header}}

    <form action="">
        <input type="text" placeholder="location">
        <input type="submit">
    </form>
    <p id='loc'></p>
    <ol id='weather'></ol>
    {{>footer}}


<script src="/js/app.js"></script>
</body>

</html>