
    <nav>
        <a href="/">Index</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        <a href="/help/a">Help</a>
    </nav>
    <header>
        <h1>HEADER FROM HBS PARTIALS</h1>
    </header>